* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(230, 230, 230);
  height: 100vh;
}
.login-box,
.sign-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 650px;
  height: auto;
  padding: 30px;
  margin: 70px auto;
}

.login-header,
.sign-header {
  position: relative;
  top: 70px;
  text-align: center;
  padding: 20px;
  color: rgb(30, 30, 30);
  font-size: 40px;
  font-weight: 600;
}

.input-box .input-field {
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: 0.3s;
}

::placeholder {
  font-weight: 500;
  color: rgb(30, 30, 30);
}

.input-field:focus {
  width: 105%;
}

a {
  text-decoration: none;
  color: rgb(186, 155, 155);
}

a:hover {
  text-decoration: underline;
}

.input-submit {
  position: relative;
  font-size: 0px;
}

.submit-btn {
  width: 108%;
  height: 60px;
  background: rgb(30, 30, 30);
  color: rgb(230, 230, 230);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.submit-btn:hover {
  background: #161616;
  transform: scale(1.05, 1);
}
.sign-up-p {
  position: relative;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: rgb(30, 30, 30);
}
.alert-danger,
.alert-success {
  position: relative;
  top: 650px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .login-box,
  .sign-box {
    width: 90%;
    max-width: 500px;
    margin-top: 50px;
    align-self: flex-end;
  }
  .login-header,
  .sign-header {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
  }
}

@media (max-width: 480px) {
  .login-box,
  .sign-box {
    width: 90%;
    max-width: 300px;
    margin-top: 30px;
    padding: 20px;
    align-self: center;
  }
  .login-header,
  .sign-header {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 600;
  }
}
